.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

@keyframes rotategear {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotategear 2s linear infinite;
}

@keyframes searchbig {
    0% {
      transform: none;
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: none;
    }
  }

  .screen-header__icons .fa-search:hover,
  .fa-comment-dots:hover{
    will-change: transform;
    animation: searchbig 1s linear infinite;
  }

@keyframes musicbig {
    0% {
      transform: none;
    }
    50% {
      transform: rotateY(360deg);
    }
    100% {
      transform: none;
    }
  }

  .screen-header__icons .fa-music:hover {
    will-change: transform;
    animation: musicbig 1s linear infinite;
  }
